body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
}

.card-body {
    border: 1px solid black;
    width: 300px;
}

.img-container img {
    width: 100%;
    height: auto;
}

.card-body p,
.card-body h1 {
    margin: 8px;
}

.gray {
    background-color: gray;
    width:50%;
    height: 50%;
}

